.side-bar
  .side-bar__content
    .user
      .user__upper
        .name
          sample user
      .user__lower
        .create-new-group
          New-group
        .edit-user
          Edit-user
    .group-list
      .group-list__content
        .group
          .name
            sample group
          .latest
            latest message
        //繰り返し
        .group
          .name
            sample group
          .latest
            latest message
        //ここまで

.main
  .main__content
    .group-top
      .group-top__upper
        .group-name
          Sample group
        .edit
          Edit
      .group-top__lower
        group member : sample user
    .message-field
      .message-field__content
        .message
          .message__upper
            .text
              sample text
          .message__lower
            .user-name
              sample user
            .date
              2020/01/01
        //繰り返し
        .message
          .message__upper
            .text
              sample text
          .message__lower
            .user-name
              sample user
            .date
              2020/01/01
        //ここまで
    .form
      .form__content
        .text-field
          .form-for
          .butttom
            send